<p>my works!</p>



<h1 appHighlight>chang color on hover </h1>
<hr>
<h1 appEnlarge> click to  change font size</h1>
<hr>
<h1 appVisibility> click to  hide text</h1>
<hr>
<h1 appGeneral>hover to do opasety  </h1>
<hr>
<h1 appGeneral> click to consol log</h1>

<hr>
<h1><input type="text"  appInputEvent> raigh text and see console </h1>

<hr>
<h1 > <input type="text" appOnBlur> blur</h1>
  <hr>
 <h1> on change event</h1> 
<select appChangeEvent>
<option >גמרא</option>
<option >משנה</option>
<option >חומש</option>
<option >מוסר</option>
</select>

<h1>{{svc. selectedTora}}</h1>













<!-- <table border="1">
<thead>
    <tr>
<th >fff </th>
<th> ff</th>
<th> ff</th>
 </tr>
</thead>
<tbody>
    <tr>
        <td>ff</td>
        <td>ff</td>
        <td>ff</td>
    </tr>
</tbody>

</table> -->